# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Django
db.sqlite3
*.log

# Environment variables / secrets
.env
.env.*

# macOS
.DS_Store

# VS Code
.vscode/

# PyCharm
.idea/

# Testing / Coverage
.pytest_cache/
.coverage
htmlcov/

# Build / Packaging
build/
dist/
*.egg-info/